.HomePageWrapper{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
color:white;
}

.inputGroup{
    color: black;
    border-radius: 5px;
    width: 400px;
    font-size: 16px;
    outline: none;
    height: 50px;
    font-weight: bold;
    background-color: #ffffff;
    border: none;
}

.chatbtn{
    margin-bottom: 10px;
    border: none;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}



.joinbtn,.leaveBtn{
    width: 100px;
    background-color: #4aee88;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-left: auto;
}

.btn{
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.joinbtn:hover, .leaveBtn:hover{
    background-color: #008634;
}

.newRoomButton{
    color: #4aee88;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: underline;
}

.newRoomButton:hover{
    color: #008634;
}

footer{
    position: fixed;
    bottom:0px;
}
footer a{
    color: #4aee88;
}

.mainWrap {
    display: grid;
    grid-template-columns: 230px 1fr;
    height: 100vh;
}

.aside {
    background: #1c1e29;
    padding: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.asideInner {
    flex: 1;
}

.clientsList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.client {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}
.userName {
    margin-top: 10px;
}

.header{
    border-bottom: 1px solid #424242;
    padding-bottom: 10px;
}
.leaveBtn {
    width: 100%;
    margin-top: 20px;
}

.copyBtn{
    color: black;
    background-color: white;
}
.CodeMirror {
    min-height: calc(100vh - 20px);
    font-size: 20px;
    line-height: 1.6;
    padding-top: 20px;
}

.chatside {
    position: fixed;
    top: 0;
    right: -30%; /* Initially hide the chatside off-screen */
    background-color: #1c1e29; /* Background color */
    color: #fff; /* Text color */
    padding: 16px; /* Padding for content */
    height: 100vh; 
    width: 25%; /* Set width of chatside */
    transition: right 0.3s ease-in-out; 
}
  
.chatside.active {
    right: 0; /* Display the chatside */
}
   
.chatbtn {
    margin-bottom: 10px;
    border: none;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.heading{
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 7500;
    font-size: larger;
    background-color: #2a2d3e;
    justify-content: center;
}
.chatBottom{
    display: flex;
    position:fixed;
    bottom:20px;
    min-width: 25%;
    justify-content: center; 
    align-items: center;
}
.textbox {
    background-color: white;
    min-width: 80%;
    color: black;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
}
.msgheader{ 
    display: flex;
    align-items: center;
    gap: 5px;
}
.chat-messages {
    flex: 1;
    overflow-y: auto; /* This will make the container scrollable when it overflows */
    padding: 10px; /* Add padding for better readability */
    height: 80vh;;
  }


.message-content{
        display: block;
        margin-bottom: 15px;
        border-radius: 5px;
        font-size: medium;
        margin-bottom: 10 px;
        background-color: white;
        color: black;
        justify-content: center;
        word-wrap: break-word; /* Allow long words to break and wrap onto the next line */

}
.timestamp{
    font-size: small;
    background-color:#2a2d3e; 
    color: white;
}
.text{
    padding: 5px;
}